* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block !important;
    width: 100%;
}

body,
html {
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    background-color: #151716;
    font-size: 1.2em;
    font-family: 'Times New Roman', Times, serif;
}

/* || HEADER / NAVIGATION  */

nav {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(255, 0, 0);
    font-size: 1.5em;
    position: fixed;
    z-index: 100;
    width: 100%;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 1.5rem;
}

nav a:hover,
nav a:focus {
    text-decoration: underline;
}

/* || HEADER HERO SECTION  */

.header-hero {
    height: 100vh;
    display: flex;
    width: 100%;
    place-content: center;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-size: calc(4rem, 9vw, 20rem);
    line-height: 60px;
}

.header-hero p {
    color: #904;
}

.header-hero h1 {
    font-size: 2rem;
}

/* || MAIN WORK  */

.container {
    border-top: 2px solid #fff;
    width: 100%;
    height: 100vh;
    color: #fff;
    margin: 2rem auto;
}

.container h2 {
    margin: 2rem;
    font-weight: 600;
    font-size: 1.7rem;
    text-align: center;
    text-decoration: underline;
}

.content-image {
    margin: 0 auto;
    gap: 1rem;
    max-width: 1340px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    width: 100%;
    display: block;
    height: calc(100% - 1rem);
}
.content-image img {
}

.code {
    display: none;
}

@media screen and (max-width: 560px) {
    nav {
        justify-content: space-evenly;
        font-size: 1rem;
    }
}