* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Light-Grey: #BBC8D4;

}

body {
    background-color: #151716;
    min-height: 100vh;
}

.navbar {
    display: flex;
    max-width: 1440px;
    padding: 17px 60px;
    justify-content: space-between;
    border-bottom: 1px solid var(--Light-Grey);
    align-items: center;
}

.menu {
    display: none;
    color: #fff;
}

.logo {
    font-size: 16px;
    font-style: normal;
    text-decoration: none;
    font-weight: 800;
    color: #11ef9f;
    line-height: normal;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}

.group-1 a {
    width: 350px;
    height: 28px;
    flex-shrink: 0;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-weight: 700;
    line-height: 175.5%;
    padding: 0 5px;
}

a:hover {
    text-decoration: underline;
}

button {
    font-size: 16px;
    border: none;
    font-weight: 700;
    line-height: 24px;
}

.btn {
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 16px;
    border: none;
    font-weight: 700;
    line-height: 24px;
}

.login {
    padding: 5px;
    color: #16e59a;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #16e59a;
    background-color: transparent;
}

.sign {
    color: #16e59a;
    text-align: center;
    background-color: transparent;
    border: 1px solid #231;
    padding: 5px;
    border-radius: 4px;

}

nav img {
    display: none;

}

/* || HEADER CONTENT  */

.h-content {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1200px;
    align-items: center;
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
    align-items: center;
    gap: 24px;
}

p {
    color: #fff;
}

/* || UTILITY CLASSES  */



.sec1 {
    text-align: center;
    font-weight: 700;
    line-height: normal;
    /* margin-top: clamp(.8rem, 4vw, 1.3rem); */
    font-size: 48px;
}

.sec2 {
    font-size: clamp(16px, 4vw, 20px);
    text-align: center;
    margin-top: .5rem;
    font-weight: 500;
}

.btn2 {
    display: flex;
    padding: 12px 48px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #17e898;
    gap: 10px;
    color: #024752;
    border: none !important;
}



/* || MEDIA QUERY MOBILE VIEW  */

@media screen and (max-width: 768px) {

    /* || NAVIGATION  */

    /* nav {
        display: flex;
        padding: 16px;
        justify-content: space-between;

        align-items: center;
    } */

    span,
    button {
        display: none;
    }



    nav img {
        display: block;
        float: left;
        position: relative;
    }

    .menu {
        float: right;
        right: 30px;
        position: absolute;
        display: block;
        color: #fff;
        text-align: center;
    }

    .logo {

        position: absolute;
        left: 50px;

    }

    .btn2 {
        align-self: stretch;
        margin: 0 20px;
    }
   
}

@media screen and (min-width:800px ) {
    nav {
        width: 100%;
    }
}